body{
  margin: 0;
  padding: 0;
  /*background-color: #dfdfdf;*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*height: 100vh;*/
  flex-flow: column;
}

#title{
  font-size: 100px;
  text-transform: uppercase;
}

#ring{
  width: 500px;
}

#links{
  display: flex;
  flex-flow: column;
  /*height: 100px;*/
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

#social-bar{
  display: flex;
  width: 200px;
  /*align-items: center;*/
  justify-content: space-between;
  text-align: center;
}

.social{
  width: 50px;
  height: 50px;
}



/*#splash{
  border: 1px solid black;
  height: 500px;
  width: 900px;
  display: flex;
  align-items: center;
  margin: 20px;
}

#left-container{
  border: 1px solid blue;
  width: 30%;
  min-height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}

#logo {
  border: 1px solid red;
  min-width: 100px;
  min-height: 100px;
}

#contact{
  min-width: 80%
}

#right-container{
  border: 1px solid green;
  width: 70%;
  min-height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  background-image: url('th.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#info-pane{
  background-color: rgba(0, 0, 0, 0.5);
  width: 90%;
  text-align: center;
  margin: 20px 0;
}

@media screen and (max-width: 992px) {

}*/
