@font-face{
  font-family: petita;
  src: url(font/petitamedium-webfont.woff);
}

@font-face{
  font-family: petitaBold;
  src: url(font/petitabold-webfont.woff);
}

body{
  margin: 0;
  padding: 0;
  font-family: petita;
  letter-spacing: .4em;
  text-transform: uppercase;
}

.body{
  margin: 0;
  padding: 0;
  /*background-color: #dfdfdf;*/
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  flex-flow: column;
  padding-top: 70px;

}


#title{
  font-size: 100px;
  text-transform: uppercase;
}

#ring{
  width: 700px;
}

#links{
  display: flex;
  flex-flow: column;
  /*height: 100px;*/
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

#links a {
  text-decoration: none;
}

.link{
  cursor: pointer;
}

a:link {color:#000;}      /* unvisited link */
a:visited {color:#000;}  /* visited link */
a:hover {color:#000;}  /* mouse over link */
a:active {color:#000;}  /* selected link */

#social-bar{
  display: flex;
  width: 200px;
  /*align-items: center;*/
  justify-content: space-between;
  text-align: center;
}

.social{
  width: 50px;
  height: 50px;
}


footer{
  bottom: 0;
  margin: 50px 0 15px 0;
  width: 80%;
  letter-spacing: .2em;
}

#copyright-ailin{
  font-size: .8em;
  float: left;
}

#copyright-jon{
  font-size: .8em;
  float: right;
}

/*Shop Page*/

#shop-page{
  display: flex;
  text-align: center;
  flex-flow: column;
  letter-spacing: .3em;
}

#one-of-a-kind{
  margin: 60px 0;

}

#commish{
  margin: 0 auto;
  /*width: 80%;*/
  display: flex;
  flex-flow: row;
  justify-content:center;
  flex-wrap: wrap;
  max-width: 1400px;
}

.commish-piece{
  margin-bottom: 65px;
  width: 450px;
  text-align: center;
}

.commish-price {
  margin: 0 auto;
  max-width: 80%;
}

hr{
  width: 80%;
  border: 1px solid black;
}


/*Green Goddess Ring Page*/

#ggr-page{
  display: flex;
  flex-flow: row;
  align-content: space-between;
  width: 80%;
  letter-spacing: .3em;
  margin: 35px 0;
}

#price {
  /*line-height: 50px;*/
  font-size: 1em;
}

.product-desc{
  font-size: 16px;
  text-transform: none;
  letter-spacing: .2em;
}

.test-prdes{
  text-transform: none;
  letter-spacing: .2em;
}

.product-desc-title{
  font-family: petitaBold;
}

.product-desc-title br{
  margin-bottom: 20px;
}

.buy-button {
    height: 40px;
    /*line-height: 40px;*/
    font-size: 16px;
    /*padding: 0px 30px;*/
    /*float: left;*/
    /*min-width: 160px;*/
    width: 160px;
    /*margin-bottom: 0;*/
    background: #000;
    color: #FFF;
    text-transform: uppercase;
    border: 0px;
    cursor: pointer;
    margin: 25px 0 20px 0;
}

.buy-button:focus {outline:0;}

.left{
  display: flex;
  flex-flow: column;
  align-items: center;
  /*border: 1px solid black;*/
  width: 50%;
}

.arrow{
  width: 25px;
  height: 50px;
  cursor: pointer;
}

.flip-hor{
  -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
}

#slide-bar{
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.product-thumbs{
  /*display: flex;*/
  /*flex-flow: row;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  position: relative;
  min-width: 200px;
  max-width: 70%;
  max-height: 150px;
  overflow: scroll;
}

/*.pi1{
  position: absolute;
  top: 0;
  left: 0;
}

.pi2{
  position: absolute;
  top: 0;
  left: 200;
}

.pi3{
  position: absolute;
  top: 0;
  left: 400;
}

.pi4{
  position: absolute;
  top: 0;
  left: 600;
}

.pi5{
  position: absolute;
  top: 0;
  left: 800;
}*/


.right{
  padding-left: 30px;
  display: flex;
  flex-flow: column;
  /*border: 1px solid black;*/
  width: 50%;
}

.product-images {
  width: 200px;
  cursor: pointer;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
  /*float: left;*/
  /*border: 1px solid black;*/
}



/*development*/
.shop-image{
  width: 400px;
  height: 266px;
  /*border: 1px solid black;*/
  margin: 0 17px;
  cursor: pointer;
}

.piece-title {
  margin-bottom: 10px;
}

.test1{
  margin-top: 7px;
}

.test2{
  margin-bottom: 0;
  margin-top: 15px;
}

#product-title{
  margin-bottom: 10px;
}

#testPrice{
  margin: 0;
  font-size: 14px;
}

#modal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#modal-bg{
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  opacity: .5;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}

#modal-fg{
  position: absolute;
  top: -1000px;
  width: 40%;
  min-width: 500px;
  height: 570px;
  background: white;
  border: 1px solid black;
  display: flex;
  flex-flow: column;
  align-items: center;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}

#contact-form{
  width: 70%;
  height: 100%;
  display: flex;
  align-content: center;
  flex-flow: column;
  justify-content: space-around;
  font-size: 13px;
}

.form-group{
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.form-inner-group{
  display: flex;
  flex-flow: column;
  width: 45%;
}

.form-message-group{
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  height: 60%;
}

.form-inner-message-group{
  display: flex;
  flex-flow: column;
  width: 100%;
}

textarea{
  resize: none;
}

label{
  /*font-size: 10px;*/
}

#contact-form-title{
    text-align: center;
    margin-top: 27px;
}

#submit-contact{
  text-align: center;
  justify-content: center;
  line-height: 40px;
  /*align-self: center;*/
  float: left;
  margin-top: 12px;
  margin-left: 10px;
  margin-right: 10px;
}

#close-modal{
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.radio{
  font-size: 10px;
}

.form-buttons{
  display: flex;
  justify-content: center;
}

#cancel-contact{
  text-align: center;
  justify-content: center;
  line-height: 40px;
  /*align-self: center;*/
  float: left;
  margin-top: 12px;
  margin-left: 10px;
  margin-right: 10px;
}


/*#splash{
  border: 1px solid black;
  height: 500px;
  width: 900px;
  display: flex;
  align-items: center;
  margin: 20px;
}

#left-container{
  border: 1px solid blue;
  width: 30%;
  min-height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}

#logo {
  border: 1px solid red;
  min-width: 100px;
  min-height: 100px;
}

#contact{
  min-width: 80%
}

#right-container{
  border: 1px solid green;
  width: 70%;
  min-height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  background-image: url('th.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#info-pane{
  background-color: rgba(0, 0, 0, 0.5);
  width: 90%;
  text-align: center;
  margin: 20px 0;
}

@media screen and (max-width: 992px) {

}*/
